html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(234, 232, 232);
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 10px auto;
}
.img {
  margin-top: 50px auto;
  padding: 20px;
  text-align: center;
}
#image {
  height: 200px;
  width: 200px;
  align-items: center;
}
.inputs {
  text-align: center;
}
#input {
  width: 200px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  border: none;
  background-color: rgb(202, 201, 201);
  font-family: "Rubik", sans-serif;
}
#submitBtn {
  width: 225px;
  padding: 10px;
  margin: 10px auto;
  color: rgb(234, 232, 232);
  border-radius: 10px;
  background-color: rgba(176, 11, 44, 0.773);
  font-family: "Rubik", sans-serif;
}
